body{
    background-color: darkkhaki;
}

.source{
    color: chartreuse;
    font-style: italic;
    font-weight: 600;
}

#album_description{
     width: 500px;
     background-color: #e8e9f7;
     margin-left: 500px;
     height: 330px;
     border-color: lightslategray;
     border-width: 10px;
     border-style: groove;
     border-radius: 30px;
     box-shadow: 5px 5px rgb(41, 41, 41);
}

#photo_sesh{
    color: chocolate;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.container img{
    width: 50%;
    height: 150px;
    padding: 13px;
    display: table-cell;
}


